/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Merriweather';
  src: url('../../assets/fonts/Merriweather/merriweather-light-webfont.eot');
  src: url('../../assets/fonts/Merriweather/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Merriweather/merriweather-light-webfont.woff2') format('woff2'),
       url('../../assets/fonts/Merriweather/merriweather-light-webfont.woff') format('woff'),
       url('../../assets/fonts/Merriweather/merriweather-light-webfont.ttf') format('truetype'),
       url('../../assets/fonts/Merriweather/merriweather-light-webfont.svg#merriweatherlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url('../../assets/fonts/Merriweather/merriweather-lightitalic-webfont.eot');
  src: url('../../assets/fonts/Merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/Merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
       url('../../assets/fonts/Merriweather/merriweather-lightitalic-webfont.ttf') format('truetype'),
       url('../../assets/fonts/Merriweather/merriweather-lightitalic-webfont.svg#merriweatherlight_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url('../../assets/fonts/Merriweather/merriweather-bold-webfont.eot');
  src: url('../../assets/fonts/Merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Merriweather/merriweather-bold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'),
       url('../../assets/fonts/Merriweather/merriweather-bold-webfont.ttf') format('truetype'),
       url('../../assets/fonts/Merriweather/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Bold Italic';
  src: url('../../assets/fonts/Merriweather/merriweather-bolditalic-webfont.eot');
  src: url('../../assets/fonts/Merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/Merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
       url('../../assets/fonts/Merriweather/merriweather-bolditalic-webfont.ttf') format('truetype'),
       url('../../assets/fonts/Merriweather/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Novecento Sans Web';
  src: url('../../assets/fonts/Novecento/novecentosanswide-normal-webfont.eot');
  src: url('../../assets/fonts/Novecento/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Novecento/novecentosanswide-normal-webfont.woff2') format('woff2'),
       url('../../assets/fonts/Novecento/novecentosanswide-normal-webfont.woff') format('woff'),
       url('../../assets/fonts/Novecento/novecentosanswide-normal-webfont.ttf') format('truetype'),
       url('../../assets/fonts/Novecento/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Sans Web Bold';
  src: url('../../assets/fonts/Novecento/novecentosanswide-demibold-webfont.eot');
  src: url('../../assets/fonts/Novecento/novecentosanswide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Novecento/novecentosanswide-demibold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/Novecento/novecentosanswide-demibold-webfont.woff') format('woff'),
       url('../../assets/fonts/Novecento/novecentosanswide-demibold-webfont.ttf') format('truetype'),
       url('../../assets/fonts/Novecento/novecentosanswide-demibold-webfont.svg#novecento_sans_widedemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
