/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.site-header{
	background-color: hsla(0, 0%, 100%, .85);
	position: fixed;
	top: 0;
	height: auto;
	width: 100%;
	margin-top: -2rem;
	z-index: 2;
	border-bottom: $solid_border;
}

 .reverse-header{
	background-color: transparent;
	position: absolute;
    top: 0;
    width: 100%;
    height: auto;
	border-bottom: 0;
	z-index: 2;
}

.reverse-links{
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	&:visited {
         color: #fff;
    }
        &:hover,
        &:focus,
        &:active {
            color: $color__brand-yellow;
        }
            &:focus {
                outline: thin dotted;
            }
                &:hover,
                &:active {
                    outline: 0;
                }
	}
	

/* Links */

a {
	text-decoration: none;
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: flex;
	justify-content: space-between;
	width: $fixed_width;
	margin-right: auto;
	margin-left: auto;
	.nav-logo{
		justify-self: center;
		align-self: center;
		img {
			width: 60px;
			height: 60px;
			
		}
	}
		.new-nav-menu {
		display: flex;
		justify-content: flex-end;
		font-family: 'Novecento Sans Web', sans-serif;
		text-transform: uppercase;
		width: 100%;
		padding-top: 10px;

		.menu-menu-1-container{
			justify-self: center;
			align-self: center;
		}

			.nav-menu{
				display: flex;
				align-self: center;
				width: 100%;
				li {
					margin-left: 1rem;
				}
			}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
		.search-form{
			justify-self: center;
			align-self: center;
			margin-left: 1rem;
		}
		.fa-search{
			border: none;
			color: $color__brand-green;
			@include font-size(1.2);
			margin-bottom: 0;
			&:hover{
				background: none;
			}
		}
		   .reverse-icon{
			border: none;
			color: #fff;
			@include font-size(1.2);
			margin-bottom: 0;
			&:hover{
				background: none;
			}
		}

	}
	
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
