/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.site-header{
	border-bottom: $solid_border;
}

/* Links */

a {
	text-decoration: none;
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: flex;
	justify-content: space-between;
	width: $fixed_width;
	margin-right: auto;
	margin-left: auto;
	.nav-logo{
		img {
			width: 60px;
			height: 60px;
			
		}
	}
		.nav-menu {
		display: flex;
		justify-content: space-evenly;
		font-family: 'Novecento Sans Web', sans-serif;
		text-transform: uppercase;
		width: 100%;
		padding-top: 10px;
		
		&:hover > a,
		&.focus > a {
		}
	
		margin: 0 0 $base__space-unit ($base__space-unit * 2);

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	
	}
	

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
